.container {
    text-align: center;
    margin: 0 auto;
}

input[type="login"]{
    padding-left: 10px;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 25vw;
    height: 10vh;
}

input[type="login"]::placeholder{
    font-size: 1rem;
}

input[type="password"]::placeholder{
    font-size: 1rem;
}


input[type="password"]{
    padding-left: 10px;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 25vw;
    height: 10vh;
}

input[type="submit"]{
    text-align: center;
    font-size: 16px;
    color: white;
    background-color:  #FF4D4D;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 15vw;
    height: 10vh;
}

.forgotpassword{
    font-size: 1rem;
    text-decoration: None;
    color: #FF4D4D;
}

input[type="submitreg"]{
    padding-left: 10px;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color:  #FF4D4D;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 25vw;
    height: 10vh;
}